@model CustomerManager.Application.ViewModels.CustomerViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var arrayAddress = Model.Addresses.ToArray();
}
@Html.HiddenFor(c => c.CustomerId)
<div class="row">
    <div class="col">
        <!--registrar cliente -->

        <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" value="@Model.FirstName" placeholder="Introduzca el nombre del cliente">
        </div>
        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" value="@Model.LastName" placeholder="Introduzca el apellido del cliente">
        </div>
        <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="text" class="form-control" id="phone" value="@Model.PhoneNumber" placeholder="Introduzca el telefono del cliente">
        </div>
        <button type="button" id="customerSave" class="btn btn-primary">Guardar</button>

    </div>
    <div class="col pt-2">
        <input type="hidden" id="addressId" />
        <input type="hidden" id="indexadress" />
        <!--registrar direccion-->
        <div id="address">
            <div class="form-group">
                <label for="street">Calle</label>
                <input type="text" class="form-control" id="street" placeholder="Introduzca la calle">
            </div>
            <div class="form-group">
                <label for="numberAparment">Numero de apartamento</label>
                <input type="text" class="form-control" id="numberAparment" placeholder="Introduzca el numero del apartamento">
            </div>

            <button id="addAddress" type="button" class="btn btn-dark">Agregar Direccion</button>
            <button id="updateAddress" type="button" class="btn btn-secondary">Actualizar Direccion</button>
        </div>
        <div id="AddresResult" class="pt-2">
            <table id="addresstbl" class="table">
                <tr>
                    <th>Calle</th>
                    <th>No. Apartamento</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var addrreses = [];
        @foreach (var d in Model.Addresses)
        {
            @:var address = { street: "@d.Street", numberAparment: "@d.NumberAparment", addressId:@d.AddressId};

            @:addrreses.push(address);
        }

        $(function () {

            loadAddressTable();

            $("#addAddress").click(function () {
                var street = $("#street").val();
                var apartment = $("#numberAparment").val();

                if (street === "" || apartment === "") {
                    alert("la informacion de la direccion no pueden esta vacia.");
                    return;
                }

                var address = {
                    street: street,
                    numberAparment: apartment
                }

                addrreses.push(address);

                $("#street").val("");
                $("#numberAparment").val("");

                loadAddressTable();

            });

            $("#updateAddress").click(function () {
                var street = $("#street").val();
                var apartment = $("#numberAparment").val();

                if (street === "" || apartment === "") {
                    alert("la informacion de la direccion no pueden esta vacia.");
                    return;
                }

                var index = $("#indexadress").val();
                addrreses[index].street = street;
                addrreses[index].numberAparment = apartment;

                loadAddressTable();
            });

            $("#customerSave").click(function () {
                var customer = {
                    customerId: $("#CustomerId").val(),
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    phoneNumber: $("#phone").val(),
                    addresses: addrreses
                };

                Save(customer);
            });
        })

        function Save(objCustomer) {
            $.ajax({
                url: "@Url.Action("UpdateCustomer", "Customer")",
                data: objCustomer,
                type: 'POST',
                success: function (json) {
                    alert(json.message);
                    location.href = "/";
                }, error: function (xhr, status) {
                    alert('Disculpe, existió un problema ');
                }
            });
        }

        function Clean() {
            $("#firstName").val("");
            $("#lastName").val("");
            $("#phone").val("");
            $("#firstName").focus();
            addrreses = [];
        }

        function deleteAddress(index) {

            if (confirm("Desea eliminar la direcion?")) {
                var addressId = addrreses[index].addressId;
                $.ajax({
                    url: "@Url.Action("DeleteAddress", "Customer")",
                    data: { addressId: addressId},
                    type: 'POST',
                    success: function (json) {
                        alert(json.message);

                        addrreses = jQuery.grep(addrreses, function (value, i) {
                            return i !== index;
                        });

                        loadAddressTable();

                    }, error: function (xhr, status) {
                        alert('Disculpe, existió un problema ');
                    }
                });
            }
        }

        function getAddress(index) {
            $("#street").val(addrreses[index].street);
            $("#numberAparment").val(addrreses[index].numberAparment);
            $("#addressId").val(addrreses[index].addressId);
            $("#indexadress").val(index);

        }

        function loadAddressTable() {


            if (addrreses.length > 0) {
                $("#AddresResult").show();

                var table = $("#addresstbl tbody");

                var row = "";

                for (var i = 0; i < addrreses.length; i++) {

                    row += "<tr><td>" + addrreses[i].street + "</td><td>" + addrreses[i].numberAparment + "</td><td><a href='#' onclick='return deleteAddress(" + i + ");'> <i class='material-icons' style='color: red; '> delete</i ></a></td><td><a href='#' onclick='return getAddress(" + i + ");'> <i class='material-icons' style='color: cornflowerblue; '> edit</i ></a></td></tr>";
                }
                table.children().remove("tr");
                table.append(row);
            } else {
                $("#AddresResult").hide();
            }
        }

    </script>
}

